@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-950 text-slate-100 antialiased;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-frost-300 via-frost-400 to-cyan-300 bg-clip-text text-transparent;
  }

  .glass {
    @apply border border-white/10 bg-white/5 backdrop-blur-xl;
  }
}


.snowflake{
    position:absolute;
    animation: floatSnow linear infinite;
    filter: drop-shadow(0 0 12px rgba(0,255,255,.45));
    user-select:none;
    will-change:transform;
}

@keyframes floatSnow{

    0%{
        transform:
            translateY(0px)
            rotate(0deg)
            scale(1);
    }

    25%{
        transform:
            translateY(-18px)
            rotate(90deg)
            scale(1.05);
    }

    50%{
        transform:
            translateY(12px)
            rotate(180deg)
            scale(.95);
    }

    75%{
        transform:
            translateY(-10px)
            rotate(270deg)
            scale(1.05);
    }

    100%{
        transform:
            translateY(0px)
            rotate(360deg)
            scale(1);
    }

}